<h1>BotProduct</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Urlproduct</th>
            <td>{{ entity.urlproduct }}</td>
        </tr>
        <tr>
            <th>Saveurl</th>
            <td>{{ entity.saveurl }}</td>
        </tr>
        <tr>
            <th>Checked</th>
            <td>{{ entity.checked }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('auto_botproduct') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('auto_botproduct_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('auto_botproduct_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
