{% set i=0 %}
<ul>
{% for auxcantidad in 0..cantidad %}
	{% if (i%20)==0 %}
	<li id="slider{{ subcategory.getId }}-{{((i-(i%20))/20)+1}}" class="{% if i==((num_producto-1)*20) %}activo{% else %}noactivo{% endif %}">
    	{% if i==((num_producto-1)*20) %}
        	{% include 'JetShopBundle:Borrar:product.html.twig' with {'product': product, 'category': category, 'subcategory': subcategory} %}
        {% endif %}
    </li>
    {% endif %}
    {% set i=i+1 %}
{% endfor %}
</ul>
{% if ((i-(i%20))/20)>0 %}
<ol class="pager">
	{% if i%20!=0%}
    	{% set i=i+20 %}
    {% endif %}
    {% set auxnum_producto = (num_producto-num_producto%10) %}
    {% for j in 0..((i/20)-1) %}
	<li {% if ((((i-(i%20))/20)+1)>20)  and (j<auxnum_producto or (j>auxnum_producto+8)) and (j+1)%10!=0 and j!=0 %}style="display: none;"{% endif %}>
    	<a {% if j==(num_producto-1) %}style="background-color:#FFF;"{% endif %} rel="{{ j+1 }}">{{ j+1 }}</a>
    </li>
    {% endfor %}
</ol>
<div class="contador" style="display: none;">{{i/20}}</div>
{% endif %}